{% extends "layout_ext1.html" %}

{% block body %}
    
    <!-- <div>
        <span>Hi, {{username}} registration successful!!!</span>
        Hi {{username}}, your registration was successful!
        <span><a href="/">HOME PAGE</a></span>
    </div> -->

    <div class="container flex justify-center items-center min-h-[40vh]">
  <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg px-5 py-4 shadow flex items-center justify-center max-w-md mx-auto">
    <span class="text-lg font-semibold text-indigo-700 dark:text-teal-400 text-center select-none">
      Hi, <span class="font-bold underline decoration-indigo-500 dark:decoration-teal-400">'{{username}}'</span> your registration was successful!
    </span>
  </div>
</div>



{% endblock %}